.hifi__heroImg__headingcontainer{
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px #FFF;
    color: #FFF;

    width: 150px;
    height: 150px;
    line-height: 1;

    position: absolute;
    top: 25%;
    left: 45%;
}

.hifi__heroImg__heading{
    font-size: 3em;
    text-transform: uppercase;

    margin-left: 5%;
    margin-top: 30%;
}

.hifi__heroImg__text{
    width: 150px;
    font-size: 95%;
    text-transform: uppercase;

    font-weight: bold;

    margin-top: 10%;
}


.first-line, .second-line {
    display: block;
}

.hifi__heroImgcontainer
{

    opacity: 80%;
    margin-top: -10%;
}

