.nav__menu{
    display: flex;

    background-color: black;
    justify-content: center;

}

.nav__menuItems{
    margin: 1.3rem 0 1.3rem 2rem;

}

.nav__menuAnchor{
    font-family: "Basic";
    font-size: x-small;

    text-transform: uppercase;
    text-decoration: none;
    color: white;
}