@import url(index-style/gallery-slider.css);
@import url(index-style/header.css);
@import url(index-style/heroImg.css);
@import url(index-style/index-style.css);
@import url(index-style/slogan.css);
@import url(index-style/social-media.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    width: 100%;
}

#Wrapper{
    margin: 0 auto;
}

