.sorting article{
    width: clamp(200px, 30%, 300px);
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}
.sorting article > *{
    padding: 15px;
}
.shopby {
    background: var(--gray);
    width: 100%;
}
.shopby ul{
    list-style: none;
}
.shopby ul a {
    color: var(--beige);
    text-decoration: none;
}

.shopCategorylistMain{
    display: grid;
    grid-template-columns: 300px 1fr 300px;

    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 15px;
    padding-top: 30px;
    position: relative
}
.shopCategorylistMain > :first-child{
    justify-self: center;
}