.hifi__gallery-slider{
    background-color: #FFF;
    width: 100%;
    height: 500px;

    padding: 30px;

    display: flex;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    font-weight: bold;

}

.hifi__gallery-slider__imgcontainer{
    width: 30%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hifi__gallery-slider__heading{
    position: absolute;
    left: 5%;
    margin-top: 2%;

    color: #ce8d00
}

.hifi__gallery-slider__arrow{
    width: 100%;


    margin-top: 13%;
    position: absolute;

    padding: 0 5%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.arrow__left, .arrow__right{
    width: 50px;
    height: 50px;

    cursor: pointer;
}

.arrow__right{
    justify-self: end;
}

.hifi__gallery-slider--show{
    display: block;
}

.hifi__gallery-slider__img{
    display: none;
}

.hifi__gallery-slider__img--show{
    display: block;
}