.hifi__slogan {
    background-color: #960;
    width: 100%;
    height: 300px;
    margin: 0 auto;    

    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    color: #FFF;
}

.hifi__slogan__background{
    display: grid;
    
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hifi__slogan__heading {
    grid-column: 1;
    grid-row: 1;

}

.hifi__slogan__imgcontainer{
    grid-column: 1;
    grid-row: 1;
}


.hifi__slogan__img {
    width: 1540px;
    height: 300px;
}